@charset "utf-8";
/* CSS Document */

html {
	background:#CCC;
}

body { 
	margin: 100px auto;
	padding: 10px;
	width: 200px;
	height: 300px;
	border: thick;
}

.num1 {
	color:#F6C;
}

.num2 {
	color:#FF3;
}

#results {
	margin: auto;
	padding: auto;
	color:#C3C;
}